<meta charset="utf-8">
<meta name="locale" content="<%= locale %>" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="csrf-token" content="<%= csrfToken %>" />
<title>HedaCuisine - <%= t("Home_2") %></title>
<link rel="icon" type="image/png" sizes="512x512" href="/favicon.png">
<link rel="stylesheet" href="/css/bootstrap.min.css">
<link rel="stylesheet" href="/css/main.css">
<link rel="stylesheet" href="/css/lib.css">
<link rel="stylesheet" href="/menu.css">
<link rel="stylesheet" href="/swiper.min.css">
<script src="/umd/popper.min.js" type="text/javascript"/></script>
<script src="/js/bootstrap.min.js" type="text/javascript"/></script>
