<nav style="background-color: rgb(33, 37, 41); margin-bottom: 0.5em; border-bottom: 1px solid rgb(206, 226, 240);">
  <div style="max-width: 800px; margin: auto; padding: 0.5em 0px;">
    <div class="float-end" style="margin-top: 0.25em;">
      <img id="main-search-btn" class="clickable" src="/icons/search.svg" style="margin-right: 1em;" width="24">
    </div>
    <div style="margin: auto; width: fit-content; font-weight: 500; font-size: 1.5rem; color: rgb(249, 249, 249);">
      <% if (typeof renderingHome != "undefined" && renderingHome) { %>
        HedaCuisine
      <% } else { %>
        <a href="/" class="plain-link" style="color: white;">HedaCuisine</a>
      <% } %>
    </div>
  </div>
</nav>
