<!doctype html>
<html lang="en">
	<head>
    <%- include('partials/head') %>
	</head>
	<body>
    <br/><br/><br/>
    <h1 style='text-align: center;'>Who's cooking?</h1>
    <br/><br/>
		<form id='choose-user-form' action="/choose_user" method="post">
      <div style="display: flex; justify-content: center; gap: 1em;">
        <% users.forEach(function(user) { %>
          <div class='account-user' style='cursor: pointer;' data-user-id='<%= user.id %>'>
            <% if (user.gender == 1) { %>
              <img src="/img/chef_m.png" height="150" style="height: 150px;"></img>
            <% } else if (user.gender == 2) { %>
              <img src="/img/chef_f.png" height="150" style="height: 150px;"></img>
            <% } else { %>
              <img src="/img/tux-cooking.svg" height="150" style="height: 150px;"></img>
            <% } %>
            <div style="text-align: center;"><%= user.name %></div>
          </div>
        <% }) %>
      </div>
			<input type="hidden" name="user_id">
			<input type="hidden" name="_csrf" value="<%= csrfToken %>">
		</form>
	</body>
</html>

<script>
  var elems = document.getElementsByClassName("account-user");
  for (var i = 0; i < elems.length; i++) {
    let e = elems[i]
    e.addEventListener("click", function(ev) {
      let form = document.getElementById('choose-user-form')
      form.elements["user_id"].value = e.dataset.userId
      form.submit();
    }, false)
  }
</script>
