<!doctype html>
<html lang="<%- locale %>">
  <head>
    <%- include('partials/head') %>
  </head>
  <body>
    <h3>todos</h3>
    <h1>Sign in</h1>
    <% if (hasMessages) { %>
      <% messages.forEach(function(message) { %>
      <p><%= message %></p>
      <% }); %>
    <% } %>
    <form action="/login/password" method="post">
      <div>
        <label for="username">Email</label>
        <input id="username" name="username" type="text" autocomplete="username" required autofocus>
      </div>
      <input type="hidden" name="_csrf" value="<%= csrfToken %>">
      <button type="submit">Send email</button>
    </form>
  </body>
</html>
