<!doctype html>
<html lang="en">
	<head>
    <%- include('partials/head') %>
	</head>
	<body>
		<section class="prompt">
			<h3>todos</h3>
			<h1>Sign in</h1>
			<% if (hasMessages) { %>
			<section class="messages">
				<% messages.forEach(function(message) { %>
				<p><%= message %></p>
				<% }); %>
			</section>
			<% } %>
			<form action="/login/password" method="post">
				<section>
					<label for="username">Email</label>
					<input id="username" name="username" type="text" autocomplete="username" required autofocus>
				</section>
				<input type="hidden" name="_csrf" value="<%= csrfToken %>">
				<button type="submit">Send email</button>
			</form>
		</section>
	</body>
</html>
