<!doctype html>
<html lang="en">
	<head>
    <%- include('partials/head') %>
	</head>
	<body>
		<section class="todohome">
			<header>
				<h1>Heda cuisine</h1>
			</header>
			<section>
				<h2>Heda te suggère tes recettes pour souper</h2>
				<a class="button" href="/login">Sign in</a>
			</section>
		</section>
	</body>
</html>
