<!doctype html>
<html lang="en" style="height: 100%;">
  <head>
    <%- include('partials/head') %>
    <link rel="stylesheet" href="/build/prose_mirror.css">
    <link rel="stylesheet" href="/build/imports.css">
    <link rel="stylesheet" href="/build/toastr.min.css">
  </head>
  <body style="height: 100%;">
    <%- include('partials/navbar') %>
    <div id="root-home">
      <%- include('../public/homepage.html') %>
    </div>
  </body>
</html>

<script>
  window.gon = <%- JSON.stringify(gon) %>
  Promise.all(Array.from(document.images).filter(img => !img.complete).map(img => new Promise(resolve => { img.onload = img.onerror = resolve; }))).then(() => {
    console.log('images finished loading');
    var element = document.createElement("script");
    element.src = "/build/home.js";
    document.body.appendChild(element);
});
</script>
