<!doctype html>
<html lang="en">
  <head>
    <%- include('partials/head') %>
  </head>
  <body>
    <%- include('partials/navbar_2') %>
    <div id="root-home"></div>
    </div>
  </body>
</html>

<script>
  window.gon = <%- JSON.stringify(gon) %>
</script>
<script src="/build/home.js" type="text/javascript"/></script>
