<!doctype html>
<html lang="en">
  <head>
    <%- include('partials/head') %>
  </head>
  <body>
    <h1>Heda cuisine</h1>
    <h2>Heda te suggère tes recettes pour souper</h2>
    <a class="button" href="/login">Sign in</a>
  </body>
</html>
