<!doctype html>
<html lang="en">
  <head>
    <%- include('partials/head') %>
  </head>
  <body class="text-center">
    <div class="d-flex flex-column" style="margin-top: 4em; gap: 4em;">
    <h1 style="font-size: 3.5em;">Heda cuisine</h1>
    <h2>Heda suggère des recettes pour souper</h2>
    <a class="btn btn-primary" style="padding: 0.5em 3em 0.5em 3em; margin: auto;" href="/login">Sign in</a>
    </div>
  </body>
</html>
