<!doctype html>
<html lang="<%- locale %>">
  <head>
    <%- include('partials/login_head') %>
    <link rel="stylesheet" href="/build/signup.css">
  </head>
  <body>
    <div id="signup-page"></div>
  </body>
</html>

<script>
  window.gon = <%- JSON.stringify(gon) %>
</script>
<script src="/build/signup.js" type="text/javascript"/></script>