<!doctype html>
<html lang="<%- locale %>">
  <head>
    <%- include('partials/head') %>
    <link rel="stylesheet" href="/css/form.css">
  </head>
  <body>
    <div class="form-container">
      <h2><a href="<%- localeHref(req, '/') %>" style="text-decoration: none;">HedaCuisine (<%- tr('beta', locale) %>)</a></h2>
      <p>An email has been sent. Please check your inbox and validate the email address.</p>
    </div>
  </body>
</html>
