/* Any global style which makes sense only for this application. */

body {
  min-width: 230px;
  max-width: 800px;
  margin: 0 auto;
}

.recipe-list li {
  list-style-type: none;
  padding: 0.25em;
  border-bottom: 1px solid #ddd;
  font-size: 0.9em;
}

.recipe {
  font-size: 14px;
}

.recipe-body h2, #recipe-editor h2 {
  border-bottom: 1px solid black;
  padding-left: 0.25rem;
  font-size: 1.5rem;
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
}

.recipe-body h3 {
  font-size: 1.1em;
  font-weight: bold;
}

.recipe-body a {
  text-decoration: none;
}

.food-name {
  color: #cc0000;
}

.editable-input {
  border: none;
  border-bottom: 1px dashed black;
  /*font-family: inherit;*/
  /*font-size: inherit;*/
  padding: 0;
  width: auto;
}

.recipe-title {
  font-family: "Satisfy", cursive;
  font-weight: bold;
  font-size: 3.0rem;
  margin-top: 0.5rem;
}

*[contenteditable="true"] {
  border: 1px solid #555;
  border-radius: 5px;
}

*[data-step="true"] {
  counter-reset: stepnb;
}
*[data-step] {
  counter-increment: stepnb;
}
*[data-step]::before {
  font-weight: bold;
  content: counter(stepnb) ". ";
}
*[data-link-model="note"]::before {
  content: "[";
}
*[data-link-model="note"]::after {
  content: "]";
}
*[data-link-model="note"] {
  vertical-align: super;
  font-size: 70%;
}
.recipe-instructions, #ing_list {
  font-family: 'Raleway', sans-serif;
  font-size: 0.9rem;
}

.selected {
  background-color: #eee;
}
.selected * {
  background-color: #eee;
}

input[type="radio"] {
  margin-right: 0.3em;
}
