/* Any global style which makes sense only for this application. */

@media screen and (max-width: 500px) {
  body {
    font-size: 0.9rem;
  }
}

.wide-trunk {
  min-width: 230px;
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 0.3em;
}
.trunk {
  min-width: 230px;
  max-width: 800px;
  margin: 0 auto;
  padding: 0 0.3em;
}
#trunk { /* DEPRECATED, use .trunk instead */
  min-width: 230px;
  max-width: 800px;
  margin: 0 auto;
  padding: 0 0.3em;
}

.recipe-list {
  padding-left: 1rem; 
}
.recipe-list li {
  list-style-type: none;
  padding: 0.25em;
  border-bottom: 1px solid #ddd;
  font-size: 0.9em;
}

.recipe-body h2, #recipe-editor h2 {
  border-bottom: 1px solid black;
  padding-left: 0.25rem;
  font-size: 1.5rem;
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
}

.recipe-body h3 {
  font-size: 1.1em;
  font-weight: bold;
}

.recipe-body a {
  text-decoration: none;
}

/* missing food name: color: #cc0000; */
/* quand il y a un lien: color: #0d6efd; */
.food-name {
  color: #2a7ffd;
  font-weight: bold;
}

.editable-input {
  border: none;
  border-bottom: 1px dashed black;
  /*font-family: inherit;*/
  /*font-size: inherit;*/
  padding: 0;
  width: auto;
}

.recipe-title {
  font-family: "Satisfy", cursive;
  font-weight: bold;
  font-size: 2.5rem;
  margin-top: 0.5rem;
  line-height: 0px;
}

*[contenteditable="true"] {
  border: 1px solid #555;
  border-radius: 5px;
}

*[data-step="true"] {
  counter-reset: stepnb;
}
*[data-step] {
  counter-increment: stepnb;
}
*[data-step]::before {
  font-weight: bold;
  content: counter(stepnb) ". ";
}
*[data-link-model="note"]::before {
  content: "[";
}
*[data-link-model="note"]::after {
  content: "]";
}
*[data-link-model="note"] {
  vertical-align: super;
  font-size: 70%;
}
.recipe-instructions, #ing_list {
  font-family: 'Raleway', sans-serif;
  font-size: 0.9rem;
}

.selected {
  background-color: #eee;
}
.selected * {
  background-color: #eee;
}

input[type="radio"] {
  margin-right: 0.3em;
}
input[type="checkbox"] {
  margin-right: 0.3em;
}

*[aria-disabled='true'] {
  opacity: 0.2;
  cursor: auto;
}

.font-satisfy {
  font-family: "Satisfy", cursive;
  font-weight: bold;
}

.nav-btn {
  color: #ddd;
  text-decoration: none;
}
.nav-btn:hover {
  color: #fff;
}

.error {
  background-color: #ff9494;
  border: 2px solid red;
  border-radius: 5px;
  padding: 5px;
}
