/* Any global style which makes sense only for this application. */

body {
  min-width: 230px;
  max-width: 800px;
  margin: 0 auto;
}

.recipe-list li {
  list-style-type: none;
  padding: 0.25em;
  border-bottom: 1px solid #ddd;
  font-size: 0.9em;
}

.recipe-body h2, #recipe-editor h2 {
  border-bottom: 1px solid black;
  padding-left: 0.25rem;
  font-size: 1.5rem;
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
}

.editable-input {
  border: none;
  border-bottom: 1px dashed black;
  /*font-family: inherit;*/
  /*font-size: inherit;*/
  padding: 0;
  width: auto;
}

.recipe-title {
  font-family: "Satisfy", cursive;
  font-weight: bold;
  font-size: 3.0rem;
  margin-top: 0.5rem;
}
